
.section-quotes {
    font-size: 1.8rem;
}

.koi-quotes{
    display: flex;
    flex-wrap: wrap;
    width:800px;
    margin: 0 auto;
    position: relative;
}

.quote{
    justify-content:space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-grow: 2;
    display: inline-block;
    margin: 0 auto;
    color: black;
    width:50%; /*change according to number*/
    height: 100%;
    padding: 10%; /*can change spacing */
}

.quote h3{
    position: relative;
    /*add font-size*/
}


.quote h3::before{
    content: "";
    display: block;
    position: absolute; 
    /*line*/
    width: 4px;
    height: 120%;
    left: -10px;
    background-color: black;
}

/* p is name*/
.quote p {
    position: relative;
    font-size: 1.5rem;
    /*add font-size*/
}