/* CSS FOR ALL PAGES */
html,body {
  font-family: 'Raleway', sans-serif;
  padding: 3em 2em;
  font-size: 12px;
  background-color: #bedcfa;
  color: black;
  overflow-x: hidden;
}
p {
  font-size: 5px; /*not changing */
  color: #344fa1;
  text-align:left;
}
/*how to change sizing of collage*/
.collage > .gallery-item {
  width: 10%;
  height: 5%;
}
a {
  padding: 8px;
  color: white;
  text-decoration: none;
}
p {
  margin-left: 20%;
  width: 70%;
  font-size: 2rem;
}
.collage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.collage a{
  margin: 0;
  width: 34vw;
  height: 60vh;
  margin: 5px;
  text-decoration: none;
}
.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:cover;
}
.gallery-item div {
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #344fa1; /*change hover color */
  text-align: center;
}
.gallery-item div h1{
  color: white;
  margin-top: 25%;
  font-size: 4em; /*change font size for title */
}
.gallery-item:hover div {
  visibility: visible;
  opacity: 0.8;
}
.overlay:hover {
  background-color: white;
  opacity: 0.2;
}

/* HEADER */
.logo-name{
  text-align: center;
  width: 100%;
  height: 30vh;
  z-index: -1;
  margin: 0 auto;
  margin-top: 10vh;
}
.logo-name .line{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
}
.logo-name .left, .logo-name .right{
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.left {
  transform: skew(0deg, -15deg) ;
}
.right {
  transform: skew(0deg, 15deg) ;
}
.logo-name .content{
  width: 30vw;
  margin-left:42.5%;
}
.left .content {
  color: white;
}
.right .content {
  color: #290149;
  transform: translate(-25vw); 
  /* translation depends on  initial centering settings*/
}
.spanSlow {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  text-transform: uppercase;
  line-height: .8;
  transition: ease-out .6s;
}
.intro {
  font-weight: 400;
  margin: 0.4em 0;
  font-family: 'Raleway', sans-serif;  
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 5em; 
  color: white;
  height: 10vh;
}

/* NAVIGATION */
.NavBar{
  float:right;
}
.NavBar img{
  height: 90%;
}
.NavBar ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.NavBar li {
  color: #fff;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}
.NavBar ul li ul li a {
  color: #fff;
  font-size: 1.5em;
}
.NavBar li a {
  color: #fff;
  font-size: 2em;
}
.NavBar li:hover,
li:focus-within {
  cursor: pointer;
}
.NavBar li a:hover{
  color:  #290149;  /* Hover font Color */
}
.NavBar li:focus-within a {
  outline: none;
}
.NavBar ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}
.NavBar ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
   visibility: visible;
   opacity: 1;
   display: block;
}
.NavBar ul li ul li:hover{
  background: blueviolet; /*hover color*/
}
.NavBar ul li ul li {
  clear: both;
  width: 150%;
  background: #290149;  /* Fill Color */
  z-index: 1;
}

/* HOME PAGE */
#koi {background-image:url("home/KOI.png");}
#mbsb{background-image:url("home/mbsb.jpg");}
#sogo{background-image:url("home/SOGO.png");}
#spotify{background-image:url("home/SPOTIFY.png");}
#milo {background-image:url("home/milo.jpg");}
#turtles {background-image:url("home/saveturtles.png");}
#celcom {background-image:url("home/celcom.jpg");}
#cimb {background-image:url("home/cimb.png");}
#map {background-image:url("home/map-logo.png");}
#aloevera {background-image:url("sogo/aloevera.png");}
#elizabeth{background-image:url("sogo/elizabeth.png");}
#lippies{background-image:url("sogo/lippies.png");}
#teens{background-image:url("sogo/teens.png");}

/*ABOUT PAGE*/
#About>h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}
#About > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
}
.index-profile {
  text-align: center;
  font-size: 3em;
}
.Resume{
  text-align: center;
}
.Resume img {
  height: 100%;
  border: 3px solid white;
  box-shadow: 0px 0px 8px rgba(0,0,0,.3);
  }
.connect{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.mini-logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.mini-logo img{
  width: 100px;
}
/* GoodReads */
.goodreads{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 85vw;
  margin: 0 auto;
  text-align: center;
}
.gr_intro{
  font-size: 4em; 
  color: black; 
  text-decoration: none;
}
#gr_author_widget_1617409442{
  display: flex;
  justify-content: center;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
margin: 0 auto;
}
.gr_book_container {
  margin-left: -14vw;
  width: 85vw;
}
.gr_book_title {
  font-size: 3em; 
  width: 100%;
}
.gr_review_stats {
  font-size: 2em; 
}
#goodreads-widget {
  font-family: georgia, serif;
  padding: 18px 0;
  margin: 0 auto;
}
#goodreads-widget h1 {
  font-weight:normal;
  font-size: 3em;
}
#goodreads-widget a {
  text-decoration: none;
  color: white;
}

#gr_custom_each_container_ {
  background-color: #bedcfa; /*still not working to change "Add the book here" section not white background!! */
}
#goodreads-widget a:hover { text-decoration: underline; }
#goodreads-widget a:active {
  color:white;
}
#gr_footer {
  width: 100%;
  border-top: 1px solid #BBB596;
  text-align: right;
}
#goodreads-widget .gr_branding{
  color: #382110;
  font-size: 11px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* ------------------------------------- BOOKS -------------------------------------------------------- */
/* KOI PAGE */
.koi-image{
  height: 50vh;
  text-align: center;
  padding: 10px;
}
.koi-image img{
  height:100%;
}
.koi-section div{
  display: grid;
  grid-template-columns: 10vw 20vw 1vw 50vw 10vw;  /*Change the ratios if you want */
  grid-template-rows: 100%;
  align-items: center;
}
.koi-section h1 {
  grid-column: 2/3;
  grid-row-start: 1;
  text-align: right;
  padding-right: 10px;
}
.koi-section .vertical-line {
  grid-column: 3/4;
  grid-row-start: 1;
  height: 90%;
  width: 5px;
  justify-self: center;
  background: #290149;
  border-radius: 5px;
}
.koi-section p {
  grid-column: 4/5;
  grid-row-start: 1;
  text-align: left;
  width: 100%;
  margin-left: 10px;
  font-size: 1.8rem;
}
  /* babe's quotes */
.koi-quotes{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width:800px;
  margin: 0 auto;
  position: relative;
}
.koi-quotes h1{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
.quote{
  align-self: center;
  flex-grow: 2;
  margin: 0 auto;
  color: black;
  width:50%; /*change according to number per column*/
  padding: 2%; /*can change spacing */
}
.quote h3{
  position: relative;
  /*add font-size*/
}
.quote h3::before{
  /* vertical line */
  content: "";
  display: block;
  position: absolute; 
  width: 4px;
  height: 120%;
  left: -10px;
  border-radius: 5px;
  background-color: #290149;
}
.quote p {
  font-size: 1.5rem;
  width: 100%;
  margin: 0 auto;
}

/*MILO*/
.milo-tweet, .milo-tweet2 {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

/* ------------------------------------- CAMPAIGNS -------------------------------------------------------- */
.campaign-header{
  width: 80vw;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10vh auto;
  margin: 0 auto;
}
.campaign-header h1{
  grid-column: 1/3;
  margin: 0;
  text-align: center;
  font-size: 2.5em;
}
.campaign-header h3{
  grid-column: 1/2;
  margin: 0;
  text-align: right;
  font-size: 2.5em;
}
.campaign-header p {
  grid-column: 2/3;
  margin: 0;
  padding-left: 5%;
  width: 100%;
  font-weight: 700;
}
.campaign-works {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
  margin: 20px auto;
}
.campaign-works h1{
  font-size: 3em;
  font-weight: 800;
  margin: 20px 0;
}
.campaign-works h2{
  font-size: 2.5em;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 20px;
}
.campaign-works img{
  max-height:50%;
  max-width: 80%;
  margin: 20px auto;
}
.phone-works{
  margin: 0 auto;
  width: 80vw;
  text-align: center;
}
.phone-works h2{
  margin: 20px 0;
  font-size: 2.5em;
}
.phone-works img{
  max-height:80vh;
  max-width: 40vh;
}
.campaign-works .phone{
  max-height:80vh;
  max-width: 40vh;
}
.campaign-works div{
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}
iframe{
  max-width: 100%;
  background-color:white ;
  padding: 15px;
  border-radius: 20px;
}
/* CAROUSEL */
.slideshow-container {
  margin: auto;
  max-height: 80vh;
}
.mySlides {
  opacity: 1;
  text-align: center;
  margin: 0;
  position: relative;
  height: 75vh;
}
.mySlides img{
  max-height: 100%;
  max-width: 100%;
  margin: 0;
}
.mySlides img:hover{
  opacity: 0.5;
}
.slide-controllers{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 20vw;
}
.arrows{
  background-color: white;
  max-width: 2vw;
}
.prev, .next {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transition: 0.6s ease;
  border-radius: 30px;
  user-select: none;
}
/* The dots/bullets/indicators */
.dots{
  max-width: 100%;
  margin: 30px;
}
.dot {
  cursor: pointer;
  height: 1vw;
  width: 1vw;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #290149;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #290149;
  color: white;
}
/* Caption text 

.text {
  color: #290149;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  height: min-content;
  width: min-content;
  max-width: 80vw;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease-in-out
}
*/

/*.mySlides img:hover ~ .text, .text:hover{
  visibility: visible;
  opacity: 1;
  font-size: 2em;
} */

/* Number text (1/3 etc) */
.numbertext {
  color: #290149;
  font-weight: bold;
  max-width: 10vw;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  left: 44%;
  opacity: .7;
  background: radial-gradient(ellipse 70% 50px, white,  transparent 50%);
  border-radius: 100%;
}

/*SOGO */
.collage {
  width: 80%;
  margin: 0 auto;
}




/*.text {
  color: #290149;
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  height: min-content;
  width: min-content;
  max-width: 80vw;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 0;
  visibility: hidden;
  transition: .5s ease-in-out
}
*/


/*MAP*/
.map-size {
  width: 70%;
  justify-content: center;
}

.map-bottom {
  padding-bottom: 10%;
}

/* MOBILE SIZES*/
@media only screen and (max-width: 600px) 

/*TURTLES */
