/* CSS FOR ALL PAGES */
html,body {
    font-family: 'Raleway', sans-serif;
    padding: 2em 1em;
    font-size: 12px;
    background-color: #bedcfa;
    color: black;
    overflow-x: hidden;
  }
  p {
    font-size: 5px; /*not changing */
    color: #344fa1;
    text-align:left;
    margin-left: 20%;
    width: 70%;
    font-size: 2rem;
  }
  /*how to change sizing of collage*/
  .collage > .gallery-item {
    width: 10%;
    height: 5%;
  }
  a {
    padding: 8px;
    color: white;
    text-decoration: none;
  }
  .collage {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  .collage a{
    margin: 0;
    width: 100vw;
    height: 38vh;
    text-decoration: none;
  }
  .gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
  }
  .gallery-item div {
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: #344fa1; /*change hover color */
    text-align: center;
  }
  .gallery-item div h1{
    color: white;
    margin-top: 35%;
    font-size: 4em; /*change font size for title */
  }
  .gallery-item:hover div {
    visibility: visible;
    opacity: 0.8;
  }
  .overlay:hover {
    background-color: white;
    opacity: 0.2;
  }
  
  /* HEADER */
  .logo-name{
    text-align: center;
    width: 100%;
    height: 10vh;
    z-index: -1;
    margin: 0 auto;
    margin-top: 2vh;
  }
  .logo-name .line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .logo-name .left, .logo-name .right{
    height: 100%;
    overflow: hidden;
  }
  .logo-name .left {
    transform: skew(0deg, -15deg) ;
    margin-left: -10%;
  }
  .logo-name .right {
    transform: skew(0deg, 15deg) ;
  }
  .logo-name .content{
    width: 50vw;
    margin-left:50%;
  }
  .left .content {
    color: white;
  }
  .right .content {
    color: #290149;
    transform: translate(-50vw); 

    /* translation depends on  initial centering settings*/
  }
  .spanSlow {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    line-height: .8;
    transition: ease-out .6s;
  }
  .intro {
    display: block;
    width: 90vw;
    font-weight: 400;
    margin: 0;
    font-family: 'Raleway', sans-serif;  
    margin: 0;
    text-align: center;
    font-size: 3em; 
    color: white;
    height: 7vh;
  }
  
  /* NAVIGATION */
  .NavBar{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  .NavBar img{
    height: 90%;
  }
  .NavBar ul {
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
  }
  .NavBar li {
    color: #fff;
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    transition-duration: 0.5s;
  }
  .NavBar ul li ul li a {
    color: #fff;
    font-size: 1.5em;
  }
  .NavBar li a {
    color: #fff;
    font-size: 2em;
  }
  .NavBar li:hover,
  li:focus-within {
    cursor: pointer;
  }
  .NavBar li a:hover{
    color:  #290149;  /* Hover font Color */
  }
  .NavBar li:focus-within a {
    outline: none;
  }
  .NavBar ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    transition: all 0.5s ease;
    margin-top: 1rem;
    display: none;
  }
  .NavBar ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
     visibility: visible;
     opacity: 1;
     display: block;
     width: 70vw;
     text-align: center;
     overflow: hidden;
  }
  .NavBar ul li ul li:hover{
    background: blueviolet; /*hover color*/
  }
  .NavBar ul li ul li {
    clear: both;
    width: 70vw;
    background: #290149;  /* Fill Color */
    z-index: 1;
  }
  
  /* HOME PAGE */
  #koi {background-image:url("home/KOI.png");}
  #mbsb{background-image:url("home/mbsb.jpg");}
  #sogo{background-image:url("home/SOGO.png");}
  #spotify{background-image:url("home/SPOTIFY.png");}
  #milo {background-image:url("home/milo.jpg");}
  #turtles {background-image:url("home/saveturtles.png");}
  #celcom {background-image:url("home/celcom.jpg");}
  #cimb {background-image:url("home/cimb.png");}
  #map {background-image:url("home/map-logo.png");}
  #aloevera {background-image:url("sogo/aloevera.png");}
  #elizabeth{background-image:url("sogo/elizabeth.png");}
  #lippies{background-image:url("sogo/lippies.png");}
  #teens{background-image:url("sogo/teens.png");}
  
  /*ABOUT PAGE*/
  #About>h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 1.5rem;
  }
  #About > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
  }
  .index-profile {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    width: 100%;
  }
  .Resume{
    text-align: center;
  }
  .Resume img {
    width: 95vw;
    
    border: 3px solid white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.3);
    }
  .connect{
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
  .mini-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .mini-logo img{
    width: 100px;
  }
  /* GoodReads */
  .goodreads{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 85vw;
    margin: 0 auto;
    text-align: center;
  }
  .gr_intro{
    font-size: 4em; 
    color: black; 
    text-decoration: none;
  }
  #gr_author_widget_1617409442{
    display: flex;
    justify-content: center;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .gr_book_container {
    margin: 0 auto;
    width: 85vw;
  }
  .gr_book_title {
    font-size: 3em; 
    width: 100%;
  }
  .gr_review_stats {
    font-size: 2em; 
  }
  #goodreads-widget {
    font-family: georgia, serif;
    padding: 18px 0;
    margin: 0 auto;
  }
  #goodreads-widget h1 {
    font-weight:normal;
    font-size: 3em;
  }
  #goodreads-widget a {
    text-decoration: none;
    color: white;
  }
  
  #gr_custom_each_container_ {
    background-color: #bedcfa; /*still not working to change "Add the book here" section not white background!! */
  }
  #goodreads-widget a:hover { text-decoration: underline; }
  #goodreads-widget a:active {
    color:white;
  }
  #gr_footer {
    width: 100%;
    border-top: 1px solid #BBB596;
    text-align: right;
  }
  #goodreads-widget .gr_branding{
    color: #382110;
    font-size: 11px;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  /* ------------------------------------- BOOKS -------------------------------------------------------- */
  /* KOI PAGE */
  .koi-image{
    height: 40vh;
    text-align: center;
    padding-bottom: 15px;
  }
  .koi-image img{
    height:100%;
  }
  .koi-section div{
    display: grid;
    grid-template-columns: 1vw 20vw 1vw 60vw 10vw;  /*Change the ratios if you want */
    grid-template-rows: 100%;
    align-items: center;
  }
  .koi-section h1 {
    grid-column: 2/3;
    font-size: 1.5em;
    grid-row-start: 1;
    text-align: right;
    padding-right: 10px;
  }
  .koi-section .vertical-line {
    grid-column: 3/4;
    grid-row-start: 1;
    height: 90%;
    width: 5px;
    justify-self: center;
    background: #290149;
    border-radius: 5px;
  }
  .koi-section p {
    grid-column: 4/5;
    grid-row-start: 1;
    text-align: left;
    width: 100%;
    margin-left: 10px;
    font-size: 1.4rem;
  }
    /* babe's quotes */
  .koi-quotes{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    width:90vw;
    margin: 0 auto;
    position: relative;
  }
  .koi-quotes h1{
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .quote{
    align-self: center;
    flex-grow: 2;
    margin: 0 auto;
    color: black;
    width:50%; /*change according to number per column*/
    padding: 2%; /*can change spacing */
  }
  .quote h3{
    position: relative;
    /*add font-size*/
  }
  .quote h3::before{
    /* vertical line */
    content: "";
    display: block;
    position: absolute; 
    width: 4px;
    height: 110%;
    left: -10px;
    border-radius: 5px;
    background-color: #290149;
  }
  .quote p {
    font-size: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }
  
  /*MILO*/
  .milo-tweet, .milo-tweet2 {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
  
  /* ------------------------------------- CAMPAIGNS -------------------------------------------------------- */
  .campaign-header{
    width: 90vw;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 10vh auto;
    margin: 30px auto;
    align-items: center;
  }
  .campaign-header h1{
    grid-column: 1/3;
    margin: 0;
    text-align: center;
    font-size: 2em;
  }
  .campaign-header h3{
    grid-column: 1/2;
    margin: 0;
    text-align: right;
    font-size: 1.7em;
    padding-right: 10px;
    padding-bottom: 60px;
  }
  .campaign-header p {
    grid-column: 2/3;
    margin: 0;
    padding-left: 5%;
    width: 100%;
    font-size: 1.5em;
    font-weight: 700;
  }
  .campaign-works {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    margin: 20px auto;
  }
  .campaign-works h1{
    font-size: 3em;
    font-weight: 800;
    margin: 20px 0;
  }
  .campaign-works h2{
    font-size: 2.5em;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 20px;
  }
  .campaign-works img{
    width: 100%;
    margin: 20px auto;
    margin-left: -5%;
  }
  .phone-works{
    margin: 0 auto;
    width: 100vw;
    text-align: center;
  }
  .phone-works h2{
    margin: 20px 0;
    font-size: 2.5em;
  }
  .phone-works img{
    max-width: 70vw;
  }
  .campaign-works div{
    width: 80vw;
    margin: 0 auto;
    text-align: center;
  }
  iframe{
    max-width: 100%;
    background-color:white ;
    padding: 15px;
    border-radius: 20px;
  }
  /* CAROUSEL */
  .slideshow-container {
    margin: 0 auto;
    width: 100%;
  }
  .mySlides {
    opacity: 1;
    text-align: center;
    margin: 0;
    position: relative;
  }
  .mySlides img{
    max-width:100vw;
    margin: 0;
  }
  .slide-controllers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 40vw;
  }
  .arrows{
    background-color: white;
    max-width: 2vw;
  }
  .prev, .next {
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
    transition: 0.6s ease;
    border-radius: 30px;
    user-select: none;
  }
  /* The dots/bullets/indicators */
  .dots{
    max-width: 100%;
    margin: 30px;
  }
  .dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #290149;
  }
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #290149;
    color: white;
  }
  .numbertext {
    color: #290149;
    font-weight: bold;
    max-width: 20vw;
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 37%;
    opacity: .7;
    background: radial-gradient(ellipse 70% 50px, white,  transparent 50%);
    border-radius: 100%;
  }
  
  /* SOGO
  .collage {
    width: 80%;
    margin: 0 auto;
  } */
  
  /*MAP*/
  .map-size {
    width: 70%;
    justify-content: center;
  }
  
  .map-bottom {
    padding-bottom: 10%;
  }
  